[Unit]
Description=Run Spotify Data Collector six times a day
Requires=spotify-collector.service

[Timer]
Unit=spotify-collector.service
# Run every 4 hours (6 times a day): 00:00, 04:00, 08:00, 12:00, 16:00, and 20:00
OnCalendar=*-*-* 00,04,08,12,16,20:00:00
AccuracySec=1min
Persistent=true

[Install]
WantedBy=timers.target